<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Details</h1>
    <h4>title:<%= list.title %></h4>
    <h4>description:<%= list.description %></h4>
    <h4>price:&#8377;<%= list.price.toLocaleString("en-IN") %></h4>
    <h4>location:<%= list.location %></h4>
    <h4>country:<%= list.country %></h4>
</body>
</html>